global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

rule_files:
  - "rules/alert_rules.yaml"

scrape_configs:
  - job_name: "flask-app"
    static_configs:
      - targets: ["app:5000"]

  - job_name: "node"
    static_configs:
      - targets: ["node-exporter:9100"]
