groups:
- name: application-alerts
  rules:

  - alert: AppDown
    expr: up{job="flask-app"} == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: "Flask app is DOWN"
      description: "Flask application is unreachable for more than 1 minute."

  - alert: HighLatency
    expr: histogram_quantile(0.95, rate(http_request_duration_seconds_bucket[5m])) > 1
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "High request latency"
      description: "95th percentile latency > 1s for 2 minutes."
